version: '3.9'
services:
  traefik:
    container_name: traefik
    image: traefik:v2.5
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - acme:/letsencrypt
    command:
      - "--providers.docker=true"
      - "--certificatesresolvers.myresolver.acme.email=odai@wednesdayos.com"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.httpchallenge=true"
      - "--certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
    networks:
      - wednesday_network
    
  wednesdayos:
    container_name: wednesdayos
    image: iadox/wednesdayos-website:latest
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.wednesdayos.rule=Host(`wednesdayos.com`)"
      - "traefik.http.routers.wednesdayos.entrypoints=websecure"
      - "traefik.http.routers.wednesdayos.tls.certresolver=myresolver"
      - "traefik.http.routers.wednesdayos.tls=true"
    networks:
      - wednesday_network
 
  bot_frontend:
    container_name: bot_frontend
    build:
      context: ./bot_frontend/
      dockerfile: Dockerfile
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bot_frontend.rule=Host(`bot.wednesdayos.com`)"
      - "traefik.http.routers.bot_frontend.entrypoints=websecure"
      - "traefik.http.routers.bot_frontend.tls.certresolver=myresolver"
      - "traefik.http.routers.bot_frontend.tls=true"
    networks:
      - wednesday_network

  bot_backend:
    container_name: bot_backend
    build:
      context: ./bot_backend/
      dockerfile: Dockerfile
    volumes:
      - users_data:/accounts
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bot_backend.rule=Host(`api.bot.wednesdayos.com`)"
      - "traefik.http.routers.bot_backend.entrypoints=websecure"
      - "traefik.http.routers.bot_backend.tls.certresolver=myresolver"
      - "traefik.http.routers.bot_backend.tls=true"
    networks:
      - wednesday_network

  bot_register:
    container_name: bot_register
    build:
      context: ./bot_register/
      dockerfile: Dockerfile
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bot_register.rule=Host(`register.bot.wednesdayos.com`)"
      - "traefik.http.routers.bot_register.entrypoints=websecure"
      - "traefik.http.routers.bot_register.tls.certresolver=myresolver"
      - "traefik.http.routers.bot_register.tls=true"
    networks:
      - wednesday_network


networks:
  wednesday_network:
    name: wednesday_network

volumes:
  acme:
  users_data: