@keyframes rainbow {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  background-color: #00eeff98;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #00eeff98;
  padding: 20px;
  transition: width 0.5s;
}

.toggle-button {
  background: none;
  font-size: 36px;
  border: none;
}

.sidebar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.box {
  flex: 1;
  padding: 20px;
  max-width: 50%;
  margin: 0 auto;
  flex-basis: calc(50% - 10px);
}

.about-box {
  flex: 1;
  padding: 20px;
  max-width: 82%;
  margin: 0 auto;
  flex-basis: calc(50% - 10px);
}

.about-info {
  width: 100%;
  height: 90%;
  background: linear-gradient(to bottom, #00eeff98, #efebeb98);
  overflow: auto;
  border: 1px solid #cdacab;
  margin: 10px;
  margin-left: 0px;
  padding: 10px;
}

footer {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.background-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('shoe.png') center center no-repeat;
  background-size: cover;
  filter: blur(6px);
  opacity: 0.9;
  z-index: -1;
}

.rainbow-text {
  font-size: 12px;
  font-weight: bold;
  animation: rainbow 15s linear infinite;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  align-items: center;
  text-align: center;
}

.box-titles {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background: linear-gradient(to bottom, #00eeff98, #00000098);
  overflow: auto;
  text-align: center;
  border: 1px solid #cdacab;
}
.name-list {
  width: 100%;
  height: 80%;
  background: linear-gradient(to bottom, #00eeff98, #00000098);
  overflow: auto;
  border: 1px solid #cdacab;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

.btn {
  width: 150px;
  height: 40px;
  background: linear-gradient(to bottom, #ffffff, #00b7ff);
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 12px 2px;
  cursor: pointer;
}

.btn:active {
  background: linear-gradient(to bottom, #ffffff, #00ff88);
}

.logoutbtn {
  width: 150px;
  height: 40px;
  background: linear-gradient(to bottom, #eeff01, #ffffff);
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 12px 2px;
  cursor: pointer;
}

.logoutbtn:active {
  background: linear-gradient(to bottom, #ff0000, #ffffff);
}

.sidebar-hidden {
  display: none;
}

.website-link {
  display: flex;
  align-items: center;
}

.website-link > * {
  margin: 0 auto;
  display: block;
  align-items: center;
}

@media screen and (max-width: 767px)  {
  .box  {
    flex-basis: 100%;
  }
}